<footer class="page-footer font-small indigo fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2024 Copyright:
        <a href="http://localhost:8000">Deliver</a>
        <a class="ml-3" href="{% url 'dashboard' %}"> Restaurant Login</a>
    </div>
</footer>
