{% extends 'restaurant/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="card col-md-5 mr-3">
                <h4 class="text-center pt-2">Today's Total Revenue</h4>
                <h1 class="text-center" style="color: green;">${{ total_revenue }}</h1>
            </div>

            <div class="card col-md-5 mr-3">
                <h4 class="text-center pt-2">Today's Total Orders</h4>
                <h1 class="text-center" style="color: #ad0003;">{{ total_orders }}</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-12 mt-5">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Price</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Street</th>
                            <th scope="col">City</th>
                            <th scope="col">State</th>
                            <th scope="col">Zip Code</th>
                            <th scope="col">Is Paid?</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <th scope="row">{{ order.pk }}</th>
                            <td>{{ order.price }}$</td>
                            <td>{{ order.name }}</td>
                            <td>{{ order.email }}</td>
                            <td>{{ order.street }}</td>
                            <td>{{ order.city }}</td>
                            <td>{{ order.state }}</td>
                            <td>{{ order.zip_code }}</td>
                            <td>
                                {% if order.is_paid %}
                                <i style="color: green;" class="fas fa-check"></i>
                                {% else %}
                                <i style="color: red;" class="fas fa-times"></i>
                                {% endif %}

                            </td>
<<<<<<< HEAD
                            <td><a href="{% url 'order-details' order.pk %}">
                                <i class="far fa-edit"></i>
                            </a>
                            </td>
=======
                            <td><a href="{% url 'order-details' order.pk %}"><i class="far fa-edit"></i></a></td>
>>>>>>> cd5903a720d172067a82d9010b5fcbaf1a8098a0
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}